<%- include ('../partials/header') %>
<body>
	<%- include ('../partials/menu') %>
	<div class="container-fluid">

		<div class="card-header text-center">
			<h1 class="text-danger">Welcome to Agile Writer!</h1>
		</div>

		<div class="card-header text-center">
			<h5 class="text-danger">Get in the Zone, Amazone.</h5>
		</div>

		<div class="row row-cols g-4">
			<div class="col">
				<div class="card h-100">
					<img class="card-img-top" src="../../resources/img/AGILE.png">
					<div class="card-body">
						<h5 class="card-title text-center">Our Vision</h5>
						<p class="card-text text-center">“To provide the world’s creators with productivity-focused workflow.”</p>
					</div>
					<div class="card-footer">
						<small class="text-muted"></small>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100">
					<div class="card-body">
						<p class="card-text text-center">Agile Writer is a smart word processor using the latest innovations in Natural
							Language
							Processing (NLP) AI using technology from OpenAI, the first time a comprehensive solution will
							incorporate
							the technology in user-facing technology. Using machine learning, the word processor will provide
							smart
							writing assistant features such as whole-paragraph autocomplete, proofreading, style transfer (e.g.
							automatically converting normal language into legalese, detect non-academic writing, etc.), and
							potentially
							more.
							Users can expect much greater productivity, as if they had a personal expert assisting them
							throughout their
							workflow. From eliminating writer’s block, to coming up with prompts, to converting one kind of
							writing to
							another, Agile Writer is there for professionals to rely on when their work starts to slow.
						</p>
					</div>
					<div class="card-footer">
						<small class="text-muted"></small>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">Team Members:</h5>
						<ul class="list-group">
							<li class="list-group-item">Nolan Ales</li>
							<li class="list-group-item">James Boynton</li>
							<li class="list-group-item">Davis Davalos-DeLosh</li>
							<li class="list-group-item">Aleksey Huhua</li>
							<li class="list-group-item">James Vogenthaler</li>
							<li class="list-group-item"><strike>Zhouyang Sheng</strike></li>
						</ul>
					</div>
					<div class="card-footer">
						<small class="text-muted"></small>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
<footer>
	<%- include('../partials/script_loader') %>
</footer>
</html>