<%- include ('../partials/header') %>
	<link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
    <link rel="stylesheet" href="../../resources/css/editor.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Abel&family=Amatic+SC&family=Andada+Pro&family=Anton&family=Bebas+Neue&family=Birthstone&family=Caveat&family=Crimson+Text&family=Dancing+Script&display=swap">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Dosis&family=Ephesis&family=Explora&family=Festive&family=Gluten&family=Heebo&family=Henny+Penny&family=Inconsolata&family=Indie+Flower&family=Josefin+Sans&display=swap">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Karla&family=Karma&family=Lato&family=Long+Cang&family=Lora&family=Montserrat&family=Mukta&family=Noto+Sans&family=Oswald&family=Oxygen&family=Poppins&family=Quicksand&display=swap">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto&family=Scheherazade&family=Shadows+Into+Light&family=Source+Code+Pro&family=Teko&family=Texturina&family=Ubuntu&family=Vollkorn&family=Work+Sans&family=Xanh+Mono&family=Yanone+Kaffeesatz&family=ZCOOL+KuaiLe&display=swap">
</head>

<body id="content" onload="loadEditor()">
	<%- include ('../partials/menu') %>
	<div class="container mt-3">
		<div id="editor">
			<p>Hello World!</p>
			<p>Some initial <strong>bold</strong> text</p>
			<p><br></p>
		</div>
	</div>

<%- include('../partials/footer') %>
<footer>
	<!-- Main Quill library -->
	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
	<script src="../../resources/js/editor.js"></script>
	<!-- Katex Library -->
	<script src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.js"
			integrity="sha384-GxNFqL3r9uRJQhR+47eDxuPoNE7yLftQM8LcxzgS4HT73tp970WS/wV5p8UzCOmb"
			crossorigin="anonymous"></script>
</footer>