<%- include ('../partials/header') %>

<body id="content" onload="loadEditor()">
	<%- include ('../partials/menu') %>
	<div class="container mt-3">
		<div id="editor">
			<% if (!document_delta) document_delta = `{"ops":[
				{"attributes":{"color":"#e60000","size":"20px"},"insert":"Hello world!"},
				{"insert":"\\nSome initial "},
				{"attributes":{"bold":true},"insert":"bold"},
				{"insert":" text\\n\\n"
			
			}]}` %>
			<%- document_delta %>
		</div>
	</div>
</body>
<footer>
<%- include('../partials/script_loader') %>
</footer>
</html>