<%- include ('../partials/header') %>

<body id="content" onload="loadEditor()">
	<%- include ('../partials/menu') %>
	<div class="container mt-3">
		<div id="editor">
			<p>Hello World!</p>
			<p>Some initial <strong>bold</strong> text</p>
			<p><br></p>
		</div>
	</div>
</body>
<footer>
<%- include('../partials/script_loader') %>
</footer>
</html>