.accordion-button:not(.collapsed) {
    color: black;
    background-color: transparent;
    box-shadow: none;
}

.accordion-button::after {
	background-image: url('../img/plus-square.svg');
	transform: rotateZ(-90deg);
}

.accordion-button:not(.collapsed)::after {
	background-image: url('../img/dash-square.svg');
	transform: none;
}

.accordian-collapse {
	border-left:outset;
	border-color:antiquewhite
}

.col-auto {
	border-radius: 40px;
}

.card-footer {
	width: 100%;
}