<%- include ('./banner') %>
<nav class="navbar navbar-expand-md navbar-dark px-3">
	<ul class="navbar-nav mr-auto col-sm-12 col-md-auto">
		<li class="nav-item">
			<a class="nav-link text-dark" href="/">Home</a>
		</li>

		<li class="nav-item">
			<a class="nav-link text-dark" href="/Documents">My Documents</a>
		</li>

		<li class="nav-item">
			<a class="nav-link text-dark" href="/Editor">Word Processor</a>
		</li>

		<li class="nav-item">
			<a class="nav-link text-dark" href="/Generator">Prompt Generator</a>
		</li>
	</ul>

	<ul class="navbar-nav ms-auto my-2 col-sm-12 col-md-auto">
		<li class="nav-item">
			<button class="rounded bg-dark text-light" onclick="location.href='/Account'">My Account</button>
		</li>
	</ul>
</nav>